.main-header
  .main-header__leftbox
    %h2.main-header__leftbox__current-name
      test
    %ul.main-header__leftbox__menber-list
      Member:
      %li.main-header__leftbox__menber-list__member
        test1,test2
  = link_to "#" do
    .main-header__leftbox__edit-btn
      Edit

.messages
  = render partial: 'message', collection: @messages

.form
  = form_for [@group, @message] do |f|
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      = f.label :image, class: 'input-box__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'input-box__image__file'
    .submit-btn
      = f.submit 'Send', class: 'submit-btn__btn'
